/.vscode
/0
/1
/EXAMPLES
/GoodCf_Ques
/GoodCf_Ques.cpp
/LL_reversing_K.cpp
/PARTITIONS
/SORTINGS
/a
/a.out
/back_to_arrray.cpp
/chemistry.cpp
/closing_gap.cpp
/construct_BT_in
/cp1.cpp
/distinct_gcds.cpp
/divisors.cpp
/eg_constructive_algorithm.cpp
/gcd.cpp
/graph
/grazin_lion.cpp
/hallowmi boxes.cpp
/isPrime.cpp
/m
/mergerSort.cpp
/morris_inOrder_traversal.cpp
/n
/next_difference.cpp
/out
/p
/pair_sorting.cpp
/palindrome.cpp
/prefix&sufix_divisibility.cpp
/prefix_sum.cpp
/q
/reverse_substring.cpp
/riyan.cpp
/s
/shortest_problem.cpp
/smallestNum.cpp
/struct_linked_list.cpp
/template.cpp
/template1.cpp
/x